.main-footer {
  background: url(../../assets/jpg/footer-bg.jpg);
  background-size: contain;
  width: 100% ;
  max-width: 1920px;
  margin: 0 auto;
   
  &__upper {
    display: flex;
    justify-content: space-between;
    padding: 8rem 0;
    @include respond(tab-port) {
      padding: 6rem 0;
    }
    @include respond(phone) {
      display: block;
    }
  }

  &__row-1 {
    order: 2;
    @include respond(tab-port) {
      margin-bottom: 5rem;
    }
  }
  &__row-2 {
    width: 40%;
    order: 1;
    max-width: 50rem;
    @include respond(tab-port) {
      width: 100%;
    }
  }

  &__short-desc {
    margin-top: 2rem;
    color: #000;
    font-size: 1.5rem;
    line-height: 1.7;
  }

  &__social-cont {
    margin-top: 2rem;
  }

  &__icon {
    background-color: #1b2735;
    border-radius: 50px;
    margin-right: 1rem;
    width: 3.5rem;
    padding: 4px;
    transition: background 0.3s, transform 0.3s;

    &--mr-none {
      margin-right: 0;
      padding: 2px;
    }
    &:hover{
      background-color: $themeClrPrimary;
      transform: scale(1.1);
  }
  
  }
  &__lower {
    padding: 4rem 0;
    border-top: 1px solid #444;
    color: #000;
    font-size: 1.2rem;
    text-align: left;
    text-align: center;
    a {
      text-decoration: underline;
      font-weight: bold;
      margin-left: 2px;
    }
    @include respond(tab-port) {
      padding: 3.5rem 0;
    }
  }
}

.text-lt{
  font-size: 30px;
  color: #1b2735;
}
