.services{
  margin: 0 auto;
    width: 100%;
    background-image: url('/assets/jpg/footer-bg.jpg');
    background-size: contain;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 100px 0;
    max-width: 1920px;
  
    }
  
  .service-wrapper{
    display: flex;
    gap: 30px;
    width: 100%;
    background-image: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.14), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.14);
    border-radius: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
  }
  
  .service-wrapper .service-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
  
    
  }
  
  .service-wrapper .service-content .service-title{
  font-size: 1.6rem;
  text-transform: uppercase;
  background: linear-gradient(90deg, #ff7d61 0%, #ffd859 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 600;
  }
  
  
  
  
  .service-wrapper .service-content p{
    font-size: 20px;
    width: 90%;
    color:#d1d1d1;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    
  }
  
  
        .service-conaner{
          display: flex;
          flex-direction: column;
          width: 100%;
          justify-content: center;
          
  
  
        }
  
        .service-conaner .service{
          display: flex;
          flex-direction: column;
          width: 100%;
        
        
      
      }
  
  
  
        .service-conaner .service .service_title{
          display: flex;
          justify-content: space-between;
        align-items: center;
        padding: 32px 0px;
        border-bottom: 0.2px solid rgba(131, 131, 131,1);
        transition:  2s;
        margin-left: 20px;
        margin-right: 20px;
        
      }
     
      
        .service-conaner .service .service_title h4{
          font-size: 25px;
          letter-spacing: 0.6px;
          color: #fff;
          font-weight: 500;
          cursor: pointer;
        }
  
        .service-conaner .service .service_title h4:hover{
          color: $themeClrPrimary;
        }
  
        .ActiveHeading{
          background-color: $themeClrPrimary;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          
  
        }
        .service-conaner .service .service_title i{
          font-size: 2.3rem;
          color: #d1d1d1;
          cursor: pointer;
        }
  
        .service-conaner .service .service_title i:hover{
          color: $themeClrPrimary;
        }
  
        .service_des{
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 10px 0;
          transition: .6s;
          opacity: 0;
          height: 0;
          z-index: -1;
          align-items: center;
          
        }
  
        .ActiveDesc{
          height: auto;
          opacity: 1;
          transition: 0.6s;
          z-index: auto;
          animation: ShowDescription 0.8s linear forwards;
        }
  @keyframes ShowDescription {
    0%{ 
      opacity: 0;
    }
    100%{ 
      opacity: 1;
    }
  }
  
  
  .service_des p {
    font-size:18px;
    font-weight: 500;
  color: #d1d1d1;
  margin-left: 20px;
  
  
  
  }
  .service_des ul{
   
    gap: 5px;
    padding: 20px;
  
  }
  
  .service_des ul li{
    font-size: 18px;
    color: #d1d1d1;
    list-style-type: disc; /* Przywrócenie punktów listy */
    list-style-position: inside; /* Ustawienie pozycji punktów wewnątrz listy */
  }
  
  
  @media(max-width:1500px) {
    .service{
      margin-top: 0;
    }
  }
  @media (max-width:1400px)
  {
    .service{
      margin-top: 0;
      
    }
    
  }
  
  @media (max-width: 1100px) {
    .service-wrapper{
      flex-direction: column;
      padding-left: 5px;
  padding-right: 5px;
    }
    .service-wrapper .service-content{
      width: 100%;
      
    }
    .service-conaner{
      width: 100%;
      margin-top: 50px;
     
    }
  }
  

  #oferta-service {
    margin-top: 100px;
    min-height: 700px;
    width: 100%;
    background-image: radial-gradient(ellipse at center, #1b2735 0%, #090a0f 100%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.14), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.14);
    display: flex;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}


#oferta-service #oferta-text {
    width: 80%;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    line-height: 1.5;
    margin-bottom: 40px;
    
}

.oferta-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Poprawiony zapis */
    gap: 25px;
    margin-top: 20px;
    padding: 0 20px;
    z-index: 9;
}

.oferta-cards .oferta-card {
    width: 100%;
    max-width: 450px;
    min-height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 8%;
    background: #1b2735;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.oferta-cards .oferta-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.oferta-cards .oferta-card::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: #1b2735;
    transform: rotate(0deg);
    z-index: -1;
    transition: transform 0.3s ease;
}

.oferta-cards .oferta-card:hover::before {
    transform: rotate(10deg);
    
}

.oferta-cards .oferta-card i {
    font-size: 10rem;
    margin-bottom: 10px;
    margin-top: 40px;
    color: $themeClrPrimary;
    display: flex;
    justify-content: center;
}

.oferta-cards .oferta-card h4 {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 10px;
}

.oferta-cards .oferta-card p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.5;
    margin-bottom: 20px;
    font-weight: 500;
}

@media (max-width: 1100px) {
    #oferta-service {
        margin-top: 10px;
    }
    .oferta-cards {
        grid-template-columns: repeat(2, 1fr); /* Dostosowanie do dwóch kolumn */
    }
    #oferta-service #oferta-text {
        width: 80%;

    }
}

@media (max-width: 900px) {
    .oferta-cards {
        grid-template-columns: 1fr; /* Jedna kolumna */
    }
    .oferta-cards .oferta-card {
        height: 300px;
        width: 100%; /* Pełna szerokość */
        max-width: 400px;
        margin: 20px auto; /* Wycentrowanie */
    }
}
